:root {
  --primary-color: #0ea5e9;
  --primary-dark: #155dfc;

  --accent-color: #dddddc;
  --text-dark: #0f172a;

  --text-light: #ffffff;
  --white: #ffffff;
  --section-bg: #f8fafc;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--white);
  width: 100%;
 
}

section h1 {
  text-align: center;
  font-size: 40px;
}

section p {
  text-align: center;
  font-size: 20px;
}

/* ==========================================
============NavBar Style==================
========================================== */

header {
  width: 100%;
  height: auto;
  overflow: hidden;
}

nav {
  width: 100%;
  height: auto;
  display: flex;
  padding: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: transparent;
  background-color: var(--white);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

nav .logo {
  display: flex;
  gap: 20px;
  font-size: 25px;
}

nav ul {
  display: flex;
  gap: 20px;
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  font-size: 17px;
  color: var(--text-dark);
  transition: all 0.3s ease-in;
}

nav ul li a:hover {
  color: var(--primary-color);
}

.menu-btn {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
}

.menu-btn span {
  width: 25px;
  height: 3px;
  background: #0f172a;
  display: block;
}
nav a{
  text-decoration: none;
}
nav button {
  display: flex;
  align-items: center;
  gap: 8px;
  background: linear-gradient(135deg, #2a6eff, #2c64ff);
  color: #fff;
  border: none;
  padding: 10px 18px;
  border-radius: 30px;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
  transition: 0.3s ease;
}
nav button span{
  background: #ff0000;
  color: #ffffff;
  padding: 3px 8px;
  border-radius: 50px;
  font-size: 12px;
  font-weight: bold;
}
nav button:hover {
 transform: translateY(-2px);
  box-shadow: 0 6px 18px rgba(0,0,0,0.3);
}
.Hero-Section {
  height: 100vh;
  width: 100%;
  position: relative;

  background:
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("https://i.pinimg.com/1200x/99/a5/f2/99a5f20fdee57e12010f055840eda500.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.Hero-Section h1 {
  color: white;
  font-size: 110px;
  text-align: left;
  margin-left: 40px;
}
.Hero-Section p {
  color: white;
  text-align: left;
  margin-left: 40px;
  font-size: 25px;
  margin-bottom: 40px;
}
#root {
  height: auto;
  width: 100%;
  background-color: var(--section-bg);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
    position: relative;
}

.trip-details {
  height: 100%;
  width: 65vw;
  padding: 30px;
  padding-left: 50px;
}
.trip-details ul {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  list-style: none;
}
.trip-details h1 {
  margin-top: 10px;
  color: rgb(31, 30, 30);
  font-size: 32px;
}
.trip-details p {
  line-height: 1.6;
  line-height: 1.6;
  margin-top: 10px;
  font-size: 20px;
}
.trip-details ul li {
  font-size: 19px;
  margin: 10px;
}

.Highlights {
  background-color: rgb(162, 255, 162);
  padding: 10px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
}
.PopularActivities li {
  width: 260px;
  text-align: center;
  padding: 10px;
  border-radius: 20px;
  cursor: pointer;
}
.PopularActivities li:hover {
  border: 2px solid rgb(146, 197, 245);
}
.included-card {
  margin-top: 10px;
  height: auto;
  padding: 20px;
  border-radius: 20px;
  background-color: rgba(152, 188, 255, 0.726);
}
.booking-card {
  border: 4px solid blue;
  background-color: var(--white);
  overflow: hidden;
  height: 620px;
  width: 30vw;
  border-radius: 20px;
  box-shadow: 10px 40px 39px -8px gray;
  margin: 10px;
  padding: 10px;
  cursor: pointer;
  position: relative;
}
.alert-input{
  opacity: 0;
  position: absolute;
  bottom: 30px;
  left: 40px;
  color: rgb(70, 69, 69);
  background-color: var(--white);
  transform: scale(1.1);
  box-shadow: 10px 10px 30px -10px gray;
  height: 40px;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 5px;
}
.booking-card:hover {
  box-shadow: 15px 30px 39px -8px gray;
}
.head {
  justify-content: center;
  text-align: center;
  width: 100%;
  height: auto;
  padding: 10px;
}
.head p {
  color: gray;
}
.head h1 {
  margin: 5px;
  color: #155dfc;
  font-size: 40px;
}
.booking-card label {
  font-size: 18px;
}
.booking-card input {
  width: 95%;
  height: 40px;
  font-size: 15px;
  border: none;
  background-color: gainsboro;
  margin-top: 5px;
  margin-bottom: 10px;
  border-radius: 5px;
  padding: 10px;
}
.foot {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 20px;
  color: gray;
  align-items: center;
}
.booking-card button {
  height: 50px;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  width: 95%;
  font-size: 18px;
  color: var(--white);
  font-weight: 400;
  margin-top: 10px;
  background-color: var(--primary-dark);
}
.booking-card p {
  text-align: center;
  margin-top: 10px;
  color: gray;
}

/* ===================================================
    ===============Footer-Section======================
    ====================================================== */
footer {
  height: auto;
  width: 100%;
  padding: 30px;
  color: var(--white);
  background-color: #0f172a;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

footer ul p {
  font-size: 22px;
}

footer ul {
  list-style: none;
  margin-top: 10px;
}

footer ul li {
  margin-top: 10px;
}

footer ul li a {
  text-decoration: none;
  color: gray;
  font-size: 18px;
  transition: all 0.3s ease;
}

footer ul li a:hover {
  padding-left: 10px;
  color: #dddddc;
}

.social-links {
  margin-top: 10px;
  padding: 10px;
  display: flex;
  gap: 20px;
}

.social-links a {
  border-radius: 10px;
  color: white;
  padding: 10px;
  background-color: rgb(65, 65, 65);
}

.footer {
  border-top: 2px solid gray;
  padding-top: 20px;
  position: relative;
  background-color: #0f172a;
  display: grid;
  justify-content: space-between;
  grid-template-columns: repeat(2, 1fr);
}

.footer ul {
  display: flex;
  gap: 30px;
  list-style: none;
}

.footer .ul {
  position: absolute;
  bottom: 10px;
  right: 40px;
}

.footer p {
  color: white;
  margin-left: 30px;
}

.footer ul li a {
  color: white;
}
