* {
  margin: 0;
  padding: 0;
}
body {
  background-color: rgb(243, 243, 243);
  width: 100vw;
  overflow-x: hidden;
}
.payment-navbar {
  height: 10vh;
  width: 100vw;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: white;
}
.nav-links {
  display: flex;
  gap: 20px;
  list-style: none;
}
.nav-links li a {
  color: black;
  text-decoration: none;
  font-size: 18px;
}

.secure {
  color: green;
  font-weight: 400;
  font-size: 18px;
}
.login-btn {
  margin-left: 20px;
  border-radius: 6px;
  border: none;
  height: 35px;
  width: 90px;
  color: white;
  cursor: pointer;
  background: linear-gradient(120deg, rgb(104, 104, 247), rgb(64, 64, 247));
  transition: all 0.3s ease;
}
.login-btn:hover {
  transform: scale(1.1);
  background: linear-gradient(120deg, rgb(38, 38, 68), rgb(64, 64, 247));
}
.step-verify {
  height: 10vh;
  width: 100vw;
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
  color: gray;
}
.step {
  display: flex;
  gap: 10px;
  align-items: center;
}
.step .icon {
  color: white;
  background-color: blue;
  padding: 10px;
  border-radius: 50%;
}
.icon-2 {
  font-weight: 700;
  background-color: blue;
  color: white;
  padding: 10px;
  border-radius: 50%;
}
.icon-3 {
  border: 3px solid gray;
  padding: 7px;
  border-radius: 50%;
}
.line {
  height: 2px;
  width: 200px;
  background-color: gray;
}

.Payment-section {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 20px;
  justify-content: center;
}
.package-section {
  width: 30%;
  height: auto;
  border-radius: 20px;
  border: 2px solid gray;
}
.user-details {
  padding-bottom: 60px;
  position: relative;
  width: 50%;
  height: auto;
  padding: 40px;
  border-radius: 20px;
}
.heading {
  display: flex;
  padding: 20px;
  border: 1px solid gray;
  border-radius: 10px;
}
.heading2 {
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 20px;
  background-color: rgb(204, 204, 204);
}

.form {
  margin-top: 40px;
  border: 1px solid gray;
  padding: 20px;
  border-radius: 10px;
}
.form h2 {
  font-size: 40px;
  margin-bottom: 10px;
  color: rgb(61, 61, 61);
}

form span label {
  font-size: 18px;
}
.input-box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
form span input {
  margin-bottom: 10px;
  width: 90%;
  height: 35px;
  border-radius: 3px;
  border: 1px solid black;
}
.phead {
  margin-bottom: 30px;
}
.Country select {
  width: 45%;
  border-radius: 3px;
  height: 35px;
  margin-bottom: 30px;
}

.verify {
  margin-top: 20px;
  border: 1px solid gray;
  padding: 20px;
  border-radius: 10px;
}
.verify span {
  display: flex;
  gap: 10px;
}
.verify p {
  font-size: 18px;
  font-weight: 600;
}
.verify span input {
  height: 20px;
  width: 20px;
}
form textarea {
  width: 100%;
  height: 70px;
  margin-top: 10px;
  margin-bottom: 50px;
}

.user-details button {
  position: absolute;
  right: 60px;
  bottom: 50px;
  height: 45px;
  width: auto;
  padding: 10px;
  color: white;
  background: linear-gradient(120deg, rgb(52, 52, 255), rgb(0, 102, 255));
  border: none;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 5px;
}
.user-details button:hover {
  background: linear-gradient(120deg, rgb(16, 16, 155), rgb(0, 102, 255));
}
.pay-hrading {
  border: 1px solid gray;
  border-radius: 10px;
  padding: 10px;
  padding-left: 20px;
}
.pay-hrading h1 {
  color: rgb(31, 30, 30);
  font-size: 25px;
}
.pay-hrading p {
  color: gray;
}
.pay-hrading img {
  height: 50px;
}
.pay-hrading i {
  font-size: 30px;
  color: gray;
}
.pay-hrading span {
  display: flex;
  gap: 10px;
  align-items: center;
}
.payment-details {
  margin-top: 20px;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid gray;
}
.payment-details h1 {
  font-size: 25px;
  color: rgb(31, 30, 30);
}
.UPI-Card {
  margin-top: 10px;
}
.UPI-Card h2 {
  font-size: 20px;
  color: rgb(46, 46, 46);
}
.scan-details {
  margin-top: 30px;
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: space-around;
}
.scan-details img {
  height: 150px;
}
.all-UPI {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  gap: 30px;
  border-top: 1px solid gray;
  padding-top: 10px;
}
.all-UPI ul {
  display: flex;
  gap: 20px;

  font-size: 25px;
}
.all-UPI img {
  height: 40px;
}
.condition {
  padding: 20px;
}
.condition p {
  margin-top: 6px;
}
.condition p:nth-child(2) {
  color: gray;
}
 