:root {
  --primary-color: #0ea5e9;
  --primary-dark: #155dfc;

  --accent-color: #dddddc;
  --text-dark: #0f172a;

  --text-light: #ffffff;
  --white: #ffffff;
  --section-bg: #f8fafc;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--white);
  width: 100%;
}

section h1{
  text-align: center;
  font-size: 40px;
}
section p{
  text-align: center;
  font-size: 20px;
}
/* ==========================================
============NavBar Style==================
========================================== */

header {
  width: 100%;
  height: auto;
  overflow: hidden;
}

nav {
  width: 100%;
  height: auto;
  display: flex;
  padding: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: transparent;
  background-color: var(--white);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

nav .logo {
  display: flex;
  gap: 20px;
  font-size: 25px;
}

nav ul {
  display: flex;
  gap: 20px;
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  font-size: 17px;
  color: var(--text-dark);
  transition: all 0.3s ease-in;
}

nav ul li a:hover {
  color: var(--primary-color);
}

.menu-btn {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
}

.menu-btn span {
  width: 25px;
  height: 3px;
  background: #0f172a;
  display: block;
}

nav button {
  background-color: var(--primary-dark);
  border: none;
  color: white;
  font-size: 20px;
  height: 40px;
  width: 120px;
  border-radius: 5px;
}

/* =======================================
===========.Hero-Section===============
======================================= */

.Hero-Section {
  margin-top: 60px;
  height: 100vh;
  width: 100%;
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  position: relative;

  background: url("https://i.pinimg.com/1200x/0d/6a/66/0d6a66da9e9fb01a584805a568347cd5.jpg");
  background-size: cover;
  background-position: center;
}

.Hero-Section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.55);
}

.hero-content {
  position: relative;
  z-index: 2;
  padding: 20px;
}

.hero-content h1 {
  color: white;
  font-size: 65px;
  font-weight: 700;
  margin-bottom: 15px;
}

.hero-content p {
  font-size: 22px;
  color: #e2e8f0;
  margin-bottom: 35px;
}

.hero-details {
  display: flex;
  gap: 15px;
  padding: 15px 20px;
  background: rgba(255, 255, 255, 0.12);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  flex-wrap: wrap;
  justify-content: center;
}

.details {
  display: flex;
  align-items: center;
  gap: 8px;

  background: rgba(255, 255, 255, 0.795);
  padding: 12px 15px;

  border-radius: 6px;
  width: 200px;
}

.details i {
  color: var(--primary-color);
}

.details input {
  background-color: transparent;
  border: none;
  outline: none;
  width: 100%;
  font-size: 15px;
}

/* =======================================
===========Travel-Section===============
======================================= */

.travel-section {
  padding: 80px 20px;
  background: var(--section-bg);
  text-align: center;
}
 
.travel-cards {
  margin-top: 50px;
  padding: 30px;
  display: flex;
  gap: 25px;
  overflow-x: scroll;
}

.travel-cards::-webkit-scrollbar {
  display: none;
}

.travel-card {
  min-width: 300px;
  background: white;
  padding: 30px 20px;
  border-radius: 12px;
  text-decoration: none;
  color: var(--text-dark);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
  transition: 0.3s;
}

.travel-card:hover {
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.15);
}

.travel-card:hover .card-icon {
  transform: translateY(-6px);
}

.card-icon {
  font-size: 40px;
  margin-bottom: 15px;
}

.travel-card h3 {
  font-size: 22px;
  margin-bottom: 10px;
}

.travel-card p {
  font-size: 15px;
  color: #64748b;
}

@media (max-width: 768px) {
  .travel-content h1 {
    font-size: 30px;
  }

  .travel-cards {
    grid-template-columns: 1fr;
  }
}

/* =======================================
===========Destination-Section===============
======================================= */

.Destinations-section {
  height: auto;
  padding: 30px;
  width: 100%;
  background-color: var(--section-bg);
}
 
.destination-contain {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  justify-content: center;
  height: auto;
  width: 100%;
  overflow: hidden;
  padding: 20px;
}

.destination-card {
  margin-top: 20px;
  margin-bottom: 30px;
  width: 400px;
  height: 470px;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 0 10px 15px -3px gray;
  position: relative;
  transition: 0.3s ease;
}
.rupees {
  position: absolute;
  top: 15px;
  right: 15px;
  background: white;
  padding: 8px 14px;
  font-size: 14px;
  font-weight: 600;
  border-radius: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
}

.destination-card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  transition: transform 0.4s ease;
}

.destination-card:hover img {
  transform: scale(1.08);
}

.destination-card h1 {
  font-size: 25px;
  text-align: left;
  padding-left: 20px;
  color: var(--text-dark);
  margin-top: 30px;
}

.destination-card h1 i {
  font-size: 25px;
  color: var(--primary-color);
}

.destination-card p {
  margin-top: 10px;
  font-size: 17px;
  text-align: left;
  padding-left: 22px;
}

.card-group {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 20px;
  display: flex;

  justify-content: space-between;
}

.card-group h2 {
  font-size: 20px;
  font-weight: 300;
}

.card-group h2 i {
  color: #f59e0b;
}

.card-group a {
  text-decoration: none;
  color: var(--primary-dark);
  font-weight: 600;
  border-radius: 6px;
  font-size: 18px;
}
/* =======================================
===========package-Section===============
======================================= */

.Package-section{
  padding: 20px;
  height: auto;
  width: 100%;
  background-color: var(--accent-color);
}
.package-contain{
  margin-top: 20px;
  height: auto;
  padding: 30px;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 20px;
  justify-content: center;
}
.package-card{
  overflow: hidden;
  position: relative;
  padding: 20px;
  text-align: left;
  height:500px;
  background-color: var(--section-bg);
  width: 400px;box-shadow: 0 10px 15px -10px gray;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.2s ease;
}
.package-card:hover{
  box-shadow: 0 10px 19px rgba(128, 128, 128, 0.459);
}

.package-card h2{
  font-size: 30px;
  margin-top: 10px;
}
.price{
  margin-top: 10px;
  margin-bottom: 15px;
  color: var(--primary-dark);
  font-size:40px;
  font-weight: 700;
  text-align: left;
}
.time-group{
  display: flex;
  gap: 10px;
  margin-bottom: 16px;
}
.package-contain ul li{
  list-style: none;
  margin-top: 10px;
  font-size: 20px;
}
.package-card button{
  position: absolute;
  bottom: 10px;

  font-size: 20px;
  height: 50px;
  border-radius: 10px;
  margin-top: 20px;
  width: 90%;
  border: none;
  background-color: var(--primary-dark);
  color: var(--white);
}
.Card2{
border: 4px solid var(--primary-dark);
}
.Card2 button{
  background-color: var(--text-dark);
}
.add{
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--primary-dark);
  color: var(--text-light);
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 40px;
  border-bottom-left-radius: 10px;
}

.Choose-section{
  height: auto;
  padding: 30px;
  width: 100%;
  background-color: var(--section-bg);
}
.choose-conatin{
  margin-top: 20px;
  padding: 20px;
  display: grid;
  justify-content: center;
  margin-left: 50px;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
}
.choose-card{
  height: auto;
  padding: 20px;
  width: 300px;
  text-align: left;
}
.choose-card i{
 color: var(--primary-dark);
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  font-size: 40px;
  justify-content: center;
  border-radius: 10px;
  margin-bottom: 10px;
}
 
.choose-card:hover{
  cursor: pointer;
  background-color: rgb(243, 243, 243);
}
.choose-card h1{
  text-align: left;
  font-size: 22px;
}
.choose-card p{
  font-size: 18px;
  text-align: left;
}
/* =======================================
===========Mobile Responsive===============
======================================= */

@media (max-width:1040px) {
      .destination-contain {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap:5px;
  }
  .destination-card {
  margin-top: 20px;
  margin-bottom: 30px;
  min-width: 120px;
  height: 490px;
  border-radius: 5px;
}
}
@media (max-width: 768px) {
 
  .nav-links {
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background: white;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
    display: none;
  }
#BookBtn{
  width: 90px;
  font-size: 14px;
  border-radius: 12px;
}
 

  

  /* ---------hero-section------ */
  .Hero-Section{
    margin-top:10px ;
  }
  .hero-content h1 {
    font-size: 48px;
  }

  .hero-content p {
    font-size: 18px;
  }

  .hero-details {
    flex-direction: column;
    align-items: center;
  }

  .details {
    width: 260px;
  }
 .Destinations-section{
    padding: 2px;
 }
  .travel-card-contain {
    height: auto;
    width: 100%;
    display: flex;
    gap: 40px;
    overflow-x: scroll;
  }
  .destination-contain {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap:5px;
  }
  .destination-card {
    width: 200px;
  }
  .package-contain {
    display: grid;
    grid-template-columns: repeat(1,1fr);
  }
  .Package-section{
    background-color: var(--section-bg);
  }
  .package-card{
    width: 350px;
  }
  .choose-conatin{
    display: grid;
    grid-template-columns: repeat(2,1fr);
  }
  .choose-card{
    width: 160px;
  }
  .choose-card i{
    font-size: 30px;
  }
  .choose-card h1{
    font-size: 15px;
  }
  .choose-card p{
    font-size: 11px;
  }
}

@media (max-width: 500px) {
  .hero-content h1 {
    font-size: 34px;
  }

  .hero-content p {
    font-size: 16px;
  }

  .Hero-Section {
    padding: 20px;
  }
  
.destination-card {
  margin-top: 20px;
  margin-bottom: 30px;
  min-width: 120px;
  height: 290px;
  border-radius: 0px;
}
 
.destination-card img {
  width: 100%;
  height: 150px;
 
}
 

.destination-card h1 {
  font-size: 20px;
  text-align: left;
  padding-left: 20px;
  color: var(--text-dark);
  margin-top: 30px;
}
.destination-card p {
  font-size: 12px;
}

.card-group {
  align-items: center;
}

.card-group h2 {
  font-size: 11px;
  font-weight: 300;
}
.card-group a {
  font-size: 10px;
}
br{
    display: none;
}
}
